html {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

p {
  overflow: auto;
}

form {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  overflow: auto;
  margin: 5px 0;
  border-bottom: 1px solid #ccc;
  max-height: 100px;
}

.thought-footer {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}

.thought a {
  text-decoration: none;
  color: black;
}

.thought a:visited {
  color: purple;
}

.thought a:hover {
  text-decoration: underline;
}
