<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <title>Thought Details</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body class="container">
    <header class="header">
      <h2>Mindshare.lol</h2>
      <nav>
        <span id="theme">Dark</span>
        <a href="https://github.com/letieu/mindshare" target="_blank">
          <img
            width="30"
            height="30"
            src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png"
            alt="github"
          />
        </a>
      </nav>
    </header>

    <main>
      <h3>Incognito Thoughts</h3>
      <nav id="detail-actions">
        <a href="/">Back to Home</a>
        <a href="#" id="share-button">Share</a>
      </nav>

      <p>{{.Thought.Text}}</p>

      <div>
        <form action="/thought/{{.Thought.ID}}/comment" method="post">
          <textarea
            name="text"
            rows="4"
            cols="50"
            placeholder="Write your comment here..."
            required
          ></textarea
          ><br />
          <button type="submit">Submit Comment</button>
        </form>
      </div>

      <div>
        <ul>
          {{range .Comments}}
          <li>
            <p>{{.Text}}</p>
          </li>
          {{else}}
          <li>No comments yet.</li>
          {{end}}
        </ul>
      </div>
    </main>
  </body>

  <script src="/static/theme.js"></script>

  <script>
    document
      .getElementById("share-button")
      .addEventListener("click", async () => {
        if (navigator.share) {
          try {
            await navigator.share({
              title: document.title,
              url: window.location.href,
            });
            console.log("Successfully shared");
          } catch (error) {
            console.error("Error sharing:", error);
          }
        } else {
          // fallback
          console.log("Web Share API not supported");
          navigator.clipboard.writeText(window.location.href);
          alert("Link copied to clipboard");
        }
      });
  </script>
</html>
