<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <meta charset="UTF-8" />
    <title>Mindshare</title>
  </head>
  <body class="container">
    <header class="header">
      <h2>Mindshare.lol</h2>
      <nav>
        <span id="theme">Dark</span>
        <a href="https://github.com/letieu/mindshare" target="_blank">
          <img
            width="30"
            height="30"
            src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png"
            alt="github"
          />
        </a>
      </nav>
    </header>

    <main>
      <h3>Incognito Thoughts</h3>
      <form action="/submit" method="post">
        <textarea
          name="text"
          placeholder="Share your anonymous thoughts or questions here..."
          required
        ></textarea>
        <button type="submit">Submit Thought</button>
      </form>
      <ul>
        {{range .Thoughts}}
        <li class="thought">
          <a href="/thought/{{.ID}}">
            <p>{{.Text}}</p>
          </a>
        </li>
        {{end}}
      </ul>

      <div class="pagination">
        {{if gt .TotalPages 1}} {{range .Pages}} {{if eq . -1}}
        <span>...</span>
        {{else if eq . $.CurrentPage}}
        <span>[{{.}}]</span>
        {{else}}
        <a href="/?page={{.}}">{{.}}</a>
        {{end}} {{end}} {{end}}
      </div>
    </main>
  </body>

  <script src="/static/theme.js"></script>
</html>
